@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Oswald&display=swap');

:root {
  /* colors as colors */
  --blue: #164E96;
  --green: #568981;
  --off-white: #c6e0ef;
  --black: #000;
  --gray: #8E8F92;
  --pale-blue: #3B6CAC;
  --not-black: #0b2445;
  --medium-blue: #415485;

  /* intentions */
  --introColor: var(--blue);
  --headerColor: var(--green);
  --textColor: var(--gray);
  --backgroundColor: var(--black);
  --borderColor: var(--pale-blue);
  --linkColor: var(--pale-blue);
  --accentColor: var(--green);

  /* typography */
  --headerFont: 'Oswald', Arial, sans-serif;
  --bodyFont: 'Lato', Arial, sans-serif;
  --baseFontSize: 80%;
  --h1: 2.488em;
  --h2: 2.074em;
  --h3: 1.728em;
  --h4: 1.44em;
  --h5: 1.2em;
  --smallText: 0.833em;

  /* style */
  --border: solid 1px var(--borderColor);
  --line: solid 2px var(--accentColor);
  --curveLess: 5px;
  --curveMore: 10px;
  --curveMost: 25px;

  /* elevation */

  --level-1: 0 2px 3px -2px rgba(255, 255, 255, 0.5), 0 1px 2px 1px rgba(255, 255, 255, 0.5);
  --level-2: 0px 5px 7px -4px rgba(255, 255, 255, .5), 2px 2px 4px 2px rgba(255, 255, 255, 0.7);
  --level-3: 0px 10px 13px -7px rgba(255, 255, 255,1), 5px 5px 5px 5px rgba(255, 255, 255, 0.7);
  /* --level-4: 0 20px 25px -5px rgba(255, 255, 255, 0.1), 0 10px 10px -5px rgba(255, 255, 255, 0.04); */

  /* positioning */
  --containerPadding: 2.5%;
  --headerHeight: 5rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: var(--baseFontSize);
  box-sizing: border-box;
  padding-bottom: 5rem; /* TODO: remove */
}

body {
  background: var(--backgroundColor);
  color: var(--textColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.5;
  max-width: 960px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  color: var(--headerColor);
  text-align: center;
  margin-bottom: 1.38rem;
  font-family: var(--headerFont);
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  font-size: var(--h1);
  color: var(--introColor);
}

h2 {font-size: var(--h2);}

h3 {font-size: var(--h3);}

h4 {font-size: var(--h4);}

h5 {font-size: var(--h5);}

small, .text_small {font-size: var(--smallText);}

p {
  margin-bottom: .5rem;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--linkColor);
  text-decoration: none;
  font-weight: 700;
}

nav a:hover,
nav a:active,
p a:hover,
p a:active {
  border-bottom: 1px solid var(--linkColor);
}

b {
  color: var(--headerColor);
  font-weight: 700;
}

iframe {
  width: 100%;
  border: none;
}

header {
  --headerText: var(--headerColor);
  background-color: var(--backgroundColor);
  color: var(--headerText);
}

/* 
footer {
  border-top: var(--line);  
}
 */

.hidden {
  display: hidden;
}

.center {
  text-align: center;
}

.italic {
  font-style: italic;
}

.inline {
  display: inline-block;
}

.layout {
  border-top: var(--line);
  padding: 1rem var(--containerPadding);
}

.grid {
  --gridCols: 2;
  display: block;
  grid-template-columns: repeat(var(--gridCols), 1fr);
}

.flex {
  --justifyContent: space-between;
  display: block;
  justify-content: var(--justifyContent);
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: var(--h5);
}

.container {
  border: var(--line);
  border-radius: var(--curveLess);
  padding: var(--containerPadding); 
  margin: 1rem 0;
}

.container h2,
.container h3 {
  margin-top: 0;
}

.outline {
  border: var(--border);
  border-radius: var(--curveLess);
  padding: var(--containerPadding);
  margin: 1rem 0;
  text-align: center;
  box-shadow: var(--level-2);
}

.outline *:first-child {
  margin-top: .5rem;
}

.timeline img {
  max-width: 100%;
}

.welcome-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  margin: 0 auto 20px auto;
}

.welcome-grid a img {
  height: 150px;
  margin: 10px;
} 

.welcome-grid h1 {
  text-align: center;
}

.welcome-grid nav {
  font-size: var(--smallText);
  grid-area: nav;
}

.welcome-grid nav a + a {
  margin-left: 5px;
}

.overview img {
  border-radius: 50%;
  width: 120px;
}

.find-us {
  margin-left: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.find-us p {
  width: 15rem;
  padding: 15px;
}

.members img {
  width: 20px;
  margin: 1px 0 0 5px;
}

.member-box {
  border: var(--border);
  border-radius: var(--curveLess);
  background: linear-gradient(to bottom, var(--not-black), var(--medium-blue));
  margin: 1rem;
  padding: 0 var(--containerPadding);
}

.member-box ul {
  list-style-type: none;
  margin-left: -2rem;
}

.event-grid {
  display: grid;
  grid-template-rows: 150px auto;
  grid-template-areas: "image" 
                        "text";
}

.event-grid div {
  grid-area: text;
}

.calendar h3 {
  font-size: var(--h4);
  text-align: left;
}

.calendar img {
  width: 100px;
  grid-area: image;
  justify-self: center;
  align-self: center;
}

.resources img {
  background-color: var(--accentColor);
  border-radius: var(--curveMore);
  width: 120px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin-top: 2rem;
}

.login p {
  font-family: var(--headerFont);
  color: var(--introColor);
  font-size: var(--h4);
  margin-right: .5rem;
}

.login a {
  background-color: var(--introColor);
  color: var(--off-white);
  border: 1.5px solid var(--introColor);
  border-radius: var(--curveMost);
  margin-top: 1rem;
  margin-left: 1rem;
  padding: .25rem 1.25rem;
}

.login a:active,
.login a:hover {
  background-color: var(--off-white);
  border: 1.5px solid var(--off-white);
  color: var(--introColor);
  box-shadow: var(--level-1);
}

/* media queries */

@media only screen and (min-width: 500px) {
  :root {
    --baseFontSize: 100%;
  }

  .grid {
    display: grid;
    grid-gap: 1rem;
  }

  .flex {
    display: flex;
  }

  .welcome-grid {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 20% 80%;
    grid-template-rows: 70px 30px;
    grid-template-areas: 
      "icon title"
      "icon nav";
  }

  .welcome-grid a img {
    height: 80px;
    margin: 10px;
    grid-area: icon;
  } 

  .welcome-grid h1 {
    font-size: var(--h3);
    grid-area: title;
  }
  
  .welcome-grid nav {
    font-size: var(--smallText);
    grid-area: nav;
  }

  .event-grid {
    grid-template-rows: auto;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: "text image";
  }

  .event-grid div {
    grid-area: text;
    margin-right: 1rem;
  }

  .calendar img {
    grid-area: image;
    width: 150px;
  }

  .resources img {
    width: 150px;
  }
}  

@media only screen and (min-width: 625px) {
  :root {
    --baseFontSize: 106.25%;
  }

  .overview-flex {
    display: flex;
    column-gap: 1rem;
    justify-content: space-between;
  }

  .welcome-grid {
    grid-template-rows: 125px 25px;
  }

  .welcome-grid a img {
    height: 100px;
  } 

  .welcome-grid h1 {
    font-size: var(--h2);
  }

  .welcome-grid nav {
    font-size: var(--baseFontSize);
  }
}  

@media only screen and (min-width: 750px) {
  .welcome-grid a img {
    height: 150px;
  } 

  .welcome-grid h1 {
    font-size: var(--h1);
  }
}  