/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/* Write your CSS styles here */




/* ----------------------------------------------- */
/* Colors */
/* ----------------------------------------------- */
/*  

h1 - blue         #164E96; 
h2 - greenish     #568981;
    off white     #c6e0ef;
p - gray          #8E8F92;
links - blue      #3B6CAC;

/* ----------------------------------------------- */
/* Fonts */
/* ----------------------------------------------- */
/*

headers      Oswald 
text         Lato

/* ----------------------------------------------- */
/* Basic Set up */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #000;
    color: #8E8F92;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}


.clearfix {zoom: 1}
.clearfix:after {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* Reuseable Components */
/* ----------------------------------------------- */

.row {
    max-width: 960px;
    margin: 0 auto;
}

section {
    padding: 10px 0px;
}

.col {
    padding: 0 10px;
}

/* ----------------------------------------------- */
/* Headings and text*/
/* ----------------------------------------------- */

h1, 
h2, 
h3, 
h4 {
	font-family: oswald, Arial, sans-serif;
}

h1 {
    color: #164E96; 
    text-decoration: none;
    font-size: 200%;
}

h2 {
    color: #568981;
    font-size: 150%;
}

.subheader {
    text-align: center;
    padding-bottom: 20px;
}

h4 {
	color: #568981;
	font-family: oswald;
	font-size: 125%;
}

a:link,
a:visited, 
a:hover, 
a:active {
    color: #3B6CAC; 
    text-decoration: none;
    font-weight: 700;
}

p {
    line-height: 1.5;
}


/* ----------------------------------------------- */
/* Page Intro */
/* ----------------------------------------------- */

.page-intro {
    border-bottom: 2px solid #568981;  
}

.page-img img {
    width: 125px;
    float: left;
    margin: 20px;
}

.page-title {
    float: left;
    padding-top: 30px;
    margin: 0 20% 0 20%;
}

/* ----------------------------------------------- */
/* nav */
/* ----------------------------------------------- */

.nav {
    float: left;
    margin-left: 5%;
}

.nav li {
    list-style-type: none;
    display: block;
    float: left;
    padding: 10px 0 10px 10px;
    font-size: 80%;
}

.nav li a:link,
.nav li a:visited {
    transition: border-bottom 0.2s;   
}

.nav li a:hover,
.nav li a:active {
    border-bottom: 1px solid #3B6CAC; 
}

/* ----------------------------------------------- */
/* buttons */
/* ----------------------------------------------- */

.btn:link,
.btn:visited {
    font-weight: 100;
    border-radius: 200px;
    text-decoration: none;
    color: #c6e0ef;
    margin: 20px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:active,
.btn:hover {
    background-color: #c6e0ef;
    border: 1.5px solid #c6e0ef;
    color: #3B6CAC;
}

.btn-full {
    background-color: #3B6CAC;
    border: 1.5px solid #3B6CAC;
    padding: 7px 15px 10px 15px;
} 

/* ----------------------------------------------- */
/* icons */
/* ----------------------------------------------- */

i {
	width: 10px;
	margin: 0 3px 0 5px;
}	


/* ----------------------------------------------- */
/* footer */
/* ----------------------------------------------- */


footer {
	padding: 5px;
	text-align: center;
	position: relative; 
	margin: 30px;
}	
footer .row:first-child {
    width: 100%;
    border-top: #568981 solid 2px;
}

.footer-text {
    font-size: 80%;
}

/* mailchimp signup */

#mc_embed_signup {
	background: black;	
	text-align: center; 
	clear:left;
}

#mce-EMAIL {
	font-family: lato
}

#mc_embed_signup_scroll {
	font-family: lato;
    color: #8E8F92;
}
#mc-embedded-subscribe {
	font-family: lato
}
.clear {
	color: #164E96; 
}


/* ----------------------------------------------- */
/* page content */
/* ----------------------------------------------- */

.intro p {
    padding-bottom: 15px;
    /*text-align: justify;*/
}

.intro p:last-child {
    padding-bottom: 20px;
}

.find-us p:first-child {
    padding-top: 20px;
}

.find-us {
    padding-top: 30px;
}

.find-us p {
    margin-bottom: 90px;
}

.fl-logo img {
    float: left;
    width: 120px;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 20px;
}


/* ----------------------------------------------- */
/* contact us */
/* ----------------------------------------------- */

/* still need to figure out how to center this section*/

.contact-section {
    padding-bottom: 40px;
}

.contact-us {
    width: 100%;
    margin-left: 22%;
    /* not ideal but working temporary fix to center section*/
}

.contact-box {
    display: block;
    float: left;
}

.contact-text {
    padding-bottom: 2%;
}

.contact-btn {
    margin-top: 8px;
}


/* ----------------------------------------------- */
/* member boxes */
/* ----------------------------------------------- */

.member-box {
    border: #164E96 1px solid;
    border-radius: 5px;
    background: linear-gradient(to bottom, #164E96, #415485);
    
}

.box-title {
    padding-bottom: 10px;
}

.member-box li {
    list-style-type: none;
}

.member-box p,
.member-box li:last-child {
    padding-bottom: 10px;
}


/* ~~~~ original CSS 



/* links page */
/*
#section-left {
	width:300px;
	border:1px solid #568981; 
	font-family: lato;
	color: #8E8F92;
	margin-left:150px;
	margin-top: 20px;
	margin-bottom: 20px;
	float:left;
	padding:25px;
}
#section-center {
	width:300px;
	border:1px solid #568981; 
	font-family: lato;
	color: #8E8F92;
	float:left;
	padding: 25px;
	margin: 20px; 
}

/* map */
/*
#map {
	margin-left: 250px;
}
/* resource list */
/*
#resource-list {
	width:375px;
	border:1px solid #568981; 
	font-family: lato;
	color: #8E8F92;
	margin-left: 350px;
	margin-top: 20px;
	padding: 25px;
	line-height: 30px;
}
#rope-list {
	width:375px;
	border:1px solid #568981; 
	font-family: lato;
	color: #8E8F92;
	margin-left: 350px;
	margin-top: 20px;
	padding: 25px;
/*	float: left;
	position: relative; */
}	
/*width: 300px;
	margin: 40px;
	border: #568981 2px solid;
	padding: 20px;
	float: left;
	position: relative;
	left: 75px;*/

/*
#section-center {
	width:250px;
	border:1px solid #568981; 
	font-family: lato;
	color: #8E8F92;
	float:left;
	padding: 25px;
	margin: 20px; 
}
*/

/*
#resource-calendar {
	width: 950px;
	border:1px solid #568981; 
	font-family: lato;
	color: #8E8F92;
	color: black;
	margin-left: 50px;
	margin-top: 20px;
	padding: 10px;
	line-height: 30px;
}

/* Products Page */

/*
.section {
	width:950px;
	border: 1px solid #568981; 
	font-family: lato;
	color: #B9A66E;
	margin-left: 50px;
	margin: 20px;
	padding: 10px;
	line-height: 30px;
	height: 150px;
}	
.media {
	width: 20px;
	margin-left: 5px;
}
.product-logos {
	width: 150px;
	float: left;
	margin-right: 10px;
}

/* Cell Structure */
/*
#cell-li {
	color: #8E8F92;
	margin-left: 20px;
}

/* Calendar  */
/*
.calendar-entry {
	width: 950px;
	border: 1px solid #568981; 
	font-family: lato;
	color: #8E8F92;
	margin-left: 50px;
	margin: 20px;
	padding: 10px;
	line-height: 30px;
	float: right;
}

#rclogo {
	float: left;
	margin-right: 10px;
}
}
#rclogo img {
	width: 30px;
	height: 30px; 
}

/* Class offerings */ 
/*
.class-descriptions {
	width:950px;
	border:1px solid #568981; 
	font-family: lato;
	color: #8E8F92;
	margin-left:50px;
	margin: 20px;
	padding:10px;
	line-height: 30px;
}

#ital {
	font-style: italic;
}			 
