/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/* Write your CSS styles here */



/* TODO: create variables and replace values throughout */ 
/* ----------------------------------------------- */
/* Colors */
/* ----------------------------------------------- */
/*
h1 - blue         #164E96;
h2 - greenish     #568981;
    off white     #c6e0ef;
p - gray          #8E8F92;
links - blue      #3B6CAC;
/* ----------------------------------------------- */
/* Fonts */
/* ----------------------------------------------- */
/*
headers      Oswald
text         Lato
/* ----------------------------------------------- */
/* Basic Set up */
/* ----------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #000;
  color: #8E8F92;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
}

/*#mc-embedded-subscribe, #mce-EMAIL {
font-family: lato;
}
.clearfix {zoom: 1}
.clearfix:after {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/* ----------------------------------------------- */
/* Reuseable Components */
/* ----------------------------------------------- */

.row {
    max-width: 960px;
    margin: 0 auto;
}

section {
    padding: 10px 0px;
}

.col {
    padding: 0 10px;
}

.inline-block-center {
    text-align: center;
}

.inline-block-center div {
    display: inline-block;
}


/* ----------------------------------------------- */
/* Headings and text*/
/* ----------------------------------------------- */

h1,
h2,
h3,
h4,
h5 {
	font-family: oswald, Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #164E96;
    text-decoration: none;
    font-size: 200%;
}

h2 {
    color: #568981;
    font-size: 150%;
}

.subheader {
    text-align: center;
    padding-bottom: 20px;
}

h4 {
	color: #568981;
	font-size: 125%;
}

h5 {
    color: #568981;
	font-size: 105%;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #3B6CAC;
    text-decoration: none;
    font-weight: 700;
}

p {
    line-height: 1.5;
}

.header {
    font-style: italic;
    text-align: center;
    padding: 0 10px 30px 10px;
}

/* ----------------------------------------------- */
/* Page Intro */
/* ----------------------------------------------- */

.page-intro {
    border-bottom: 2px solid #568981;
    margin-bottom: 10px;
    width: 100%;
}

.intro-box {
    display: block;
    width: 100%;
    float: left;
}

.page-img img {
    display: block;
    margin: 0 auto;
    width: 125px;
}

.page-title {
    margin-top: 30px;
    padding-left: 10px;
}

/* ----------------------------------------------- */
/* nav */
/* ----------------------------------------------- */


nav .bottom-nav {
    margin: 0 10%;
}

nav li {
    list-style-type: none;
    display: block;
    float: left;
    padding: 10px 0 10px 12px;
    font-size: 80%;
}

nav li a:link,
nav li a:visited {
    transition: border-bottom 0.2s;
}

nav li a:hover,
nav li a:active {
    border-bottom: 1px solid #3B6CAC;
}


/* ----------------------------------------------- */
/* buttons */
/* ----------------------------------------------- */

.btn:link,
.btn:visited {
    font-weight: 100;
    border-radius: 200px;
    text-decoration: none;
    color: #c6e0ef;
    margin: 20px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:active,
.btn:hover {
    background-color: #c6e0ef;
    border: 1.5px solid #c6e0ef;
    color: #3B6CAC;
}

.btn-full {
    background-color: #3B6CAC;
    border: 1.5px solid #3B6CAC;
    padding: 7px 15px 10px 15px;
}

/* ----------------------------------------------- */
/* icons */
/* ----------------------------------------------- */

.members img,
.friends-box img,
.product-text img {
	width: 20px;
	margin: 1px 0 0 5px;
  vertical-align: middle;
}

.contact-logo img {
    width: 60px;
    margin: 1px 0 0 5px;
    vertical-align: middle;
}

.ello-icon {
  border-radius: 50%;
}

/* ----------------------------------------------- */
/* footer */
/* ----------------------------------------------- */


footer {
	padding: 5px;
	text-align: center;
    /*margin: 0;*/
    border-top: #568981 solid 2px;
}

.footer-text {
    font-size: 80%;
}


/* ----------------------------------------------- */
/* page content */
/* ----------------------------------------------- */

.outline {
    border: 1px solid #3B6CAC;
    border-radius: 5px;
}

.documents h2 {
    margin: 20px 0;
}

.documents li {
    text-align: left;
    margin: 20px 0;
    margin-left: 5%;
}

.documents .inline-block-center {
    padding: 0 5px 20px 5px;
}

.content-intro {
    margin: 0 1.5% 0 3%;
}

.content-intro-box p {
    padding-bottom: 10px;
    text-align: justify;
}

.content-intro-box p:last-child {
    padding-bottom: 20px;
}

.bold {
    font-weight: 700;
    color: #164E96;
}

.about-hb p {
    padding: 0 10px 20px 10px;
}

.emphasis {
    font-style: italic;
}

/* Find Us */

.find-us-logo img {
    float: left;
    width: 120px;
    padding-top: 10px;
    margin-right: 8px;
}

.find-us-logo img:last-child {
    border-radius: 50%;
}

.find-us-text {
    padding: 30px 0;
}

/* ----------------------------------------------- */
/* contact us */
/* ----------------------------------------------- */

/* (main page) */
.contact-section {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
}

.contact-text {
    padding-bottom: 2%;
    margin-top: 8px;
}

.contact-text h4 {
    text-align: center;
}

.contact-btn {
    display: block;
    margin-top: 8px;
}

/* (hb page) */
.contact-section .col {
    margin: 0;
}

.contact-logo img {
    padding-bottom: 10px;
}

/* ----------------------------------------------- */
/* student login */
/* ----------------------------------------------- */
/* (main page) */
#login-btn {
    background-color: #200fe3;
    border: 1.5px solid #200fe3;
}

#login-btn:active,
#login-btn:hover {
    background-color: #c6e0ef;
    border: 1.5px solid #c6e0ef;
    color: #200fe3;
}

#login-text {
   color: #200fe3;
}

/* ----------------------------------------------- */
/* timeline */
/* ----------------------------------------------- */

.timeline {
    max-width: 98%;
    padding-bottom: 10px;
}

/* ----------------------------------------------- */
/* iframe (calendar and map) */
/* ----------------------------------------------- */

iframe {
    width: 100%;
}

/* ----------------------------------------------- */
/* member boxes */
/* ----------------------------------------------- */

.members {
    border: #164E96 1px solid;
    border-radius: 5px;
    background: linear-gradient(to bottom, #0b2445, #415485);
}

.box-title {
    padding-bottom: 10px;
}

.member {
    padding-bottom: 20px;
}

.member-box li,
.friends-box li {
    list-style-type: none;
    line-height: 1.4;
}

.member-box p,
.member-box li:last-child,
.friends-box p {
    padding-bottom: 10px;
}

.friends-box:last-child {
    padding-left: 15px;
}

/* ----------------------------------------------- */
/* calendar boxes */
/* ----------------------------------------------- */

.calendar-box,
.product-box {
    width: 95%;
    margin: 0 auto;
}

.calendar-entry,
.class-description,
.friends-box {
	border: 1px solid #568981;
    border-radius: 5px;
    padding-bottom: 10px;
}

.product {
    border: 1px solid #568981;
    border-radius: 5px;
}

.calendar-entry,
.class-description {
	padding: 10px;
	line-height: 30px;
}

.product-text {
    line-height: 30px;
    padding: 10px 0;
}

.calendar-entry,
.product {
    margin-bottom: 10px;
}

.class-description,
.resources-map {
    margin: 0 5% 2% 5%;
}

.subtext p {
    font-style: italic;
    text-align: center;
    padding-bottom: 15px;
}

.calendar-text,
.calendar-img,
.product-img,
.product-text {
    display: block;
    float: left;
}

.calendar-text {
    width: 85%;
    padding-right: 10px;
}

.product-text {
    width: 80%;
}

.calendar-img {
    align-content: center;
}

.calendar-img img{
    width: 120px;
}

.col.span-1-of-4.product-img {
    margin-right: 0;
}

.product-img img {
    width: 175px;
    padding: 15px 0 10px 0;
}

.events-logo img {
    width: 75%;
}

.events-logo,
.friends-box p {
    text-align: center;
}

/*  CENTER PRODUCT TEXT AT LESS THAN 900 PIXELS */

@media only screen and (max-width: 900px) {
   .product-img {
        margin: 0 5%;
    }

    .product-img img {
        width: 100%;
    }

    .img-product {
        margin: 0 2% 0 5%;
    }
}

@media only screen and (max-width: 480px) {
    .img-product {
        margin: 0 5% 0 20%;
        padding-bottom: 0;
    }

    .product-img img {
        width: 75%;
        padding-bottom: 0;
    }

    .text-product {
        margin-left: 10px;
    }

    .product-text h4 {
        text-align: center;
        padding-bottom: 5px;
    }

}

/* ----------------------------------------------- */
/* Resources page */
/* ----------------------------------------------- */

.resources-box {
    margin: 0 5% 0 8%;
    margin-top: 20px;
}

.resources-listing {
    border: 1px solid #568981;
    border-radius: 5px;
}

.resources-listing li {
    list-style-position: inside;
    line-height: 1.5;
}

.resources-listing p {
    text-align: center;
    padding-bottom: 10px;
}

.last {
    padding-bottom: 10px;
}


.resources-listing li ul li {
    padding-left: 15px;
}

.faq-row {
  margin-left: 15px;
}

.faq-flashcards {
  border: solid 1px #568981;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  padding-bottom: 5px;
  text-align: center;
  width: 50%;
}

.faq-flashcards img {
  background-color: #568981;
  width: 50%;
  margin-bottom: 10px;
}

/* ----------------------------------------------- */
/* Cells page */
/* ----------------------------------------------- */

.cell-info li {
	margin-left: 30px;
    line-height: 1.8;
}

.cell-info li:last-child {
    padding-bottom: 10px;
}

.cell-info {
	display: block;
	margin: 1% 1% 1% 2%;
}

/* ----------------------------------------------- */
/* Links page */
/* ----------------------------------------------- */

.links-info {
  font-style: italic;
  font-size: 75%;
}
